{% extends "doodle/base.html" %}
{% block content %}
    {% if followers %}
         <div class="col-12 no-padding">
            <h3 class="white-important mb-3">
                Follows
            </h3>
            <div class="row pr-3 pl-3">
                {% for follow in followers %}
                <div class="col-6 col-md-3 pl-0">
                    <article class="media content-section">
                        <img
                        class="rounded-circle mr-2"
                        style="width: 20px; height: 20px;"
                        <!-- src="{{ follow.follower.profile.avatar.url }}"> 
            <a class="mr-2 white-important" href="{% url 'user:user_profile' follow.following.username %}">
                {{ follow.following.username }}
            </a>
         </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if follows %}
         <div class="col-12 no-padding">
            <h3 class="white-important mb-3">
                Followers
            </h3>
            <div class="row pr-3 pl-3">
                {% for follow in follows %}
                    <div class="col-6 col-md-3 pl-0">
                        <article class="media content-section">
                            <img
                            class="rounded-circle mr-2"
                            style="width: 20px; height: 20px;"
                            <!-- src="{{ follow.follower.profile.avatar.url }}"> 
                <a class="mr-2 white-important" href="{% url 'user:user_profile' follow.follower.username %}">
                    {{ follow.follower.username }}
                </a>
             </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}