{% extends 'doodle/base.html' %}
{% load thumbnail %}
{% block content %}
    <h1>
        {{ profile.first_name }} {{ profile.last_name }}
    </h1>

<a href="{% url "user:delete" %}">УДАЛИТЬ АККАУНТ</a>
    <h2>
        <a href="{% url "user:profile_update" %}">

            Hello {{ profile.username }}!
        </a>
    </h2>

    {{profile.profile.bio}}
    {{profile.profile.birth_date}}

    {% thumbnail profile.profile.avatar "100x100" crop="center" as av %}
    <img style="margin:{{ av|margin:"100x100" }}" src="{{ av.url }}" width="{{ av.x }}" height="{{ av.y }}">
{% endthumbnail %}
  
<a href="{% url 'user:user-followers' profile.username %}">
    {{ profile.profile.followers }}
    follower
</a>        
<a href="{% url 'user:user-follows' profile.username %}">
    {{ profile.profile.following }}
    followers
</a>
    <br>
    <br>
    <a href="{% url "doodle:create_post" %}">Create New Post</a> <br>
    {% for post in posts %}

        {{ post.text }} <br>
        {{ post.published_date }} <br>
        <a href="{% url "doodle:delete_post" post.id %}">Delete Post</a><br><br> 
    {% endfor %}

{% endblock %}
