{% extends 'doodle/base.html' %}

{% block content %}
    <h1>
        {{ profile.first_name }} {{ profile.last_name }}
    </h1>
    <h2>
        <a href="{% url "user:profile_update" %}">

            Hello {{ profile.username }}!
        </a>
    </h2>

    {{profile.profile.bio}}
    {{profile.profile.birth_date}}

    <a href="{% url "doodle:create_post" %}">Create New Post</a> <br>
    {% for post in posts %}

        {{ post.text }} <br>
        {{ post.published_date }} <br><br> 
    {% endfor %}

{% endblock %}
