body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 70px;
    background: #f1f1f1;
    box-shadow: 1px 3px 6px #c1c1c1;
}

footer {
    margin-top: auto;
    height: 70px;
    background: #f1f1f1;
    box-shadow: 1px 3px 6px #c1c1c1;
}

a {
    text-decoration: none;
}

.active {
    color: red;
}

.post {
    border-color: black;
}

a {
    text-decoration: none;
}