{% extends 'doodle/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {{ post.author }} <br>
    {{ post.text }} <br>
    {{ post.published_date|date:"F d, Y" }} 

    <br><br>
 <form action="" method="POST">
                {% csrf_token %}
                    <small class="text-muted">Add comment:</small>
                    <small class="text-muted">{{ add_comment|crispy }}</small>
                    <button class="btn btn-outline-info" type="submit">Add</button>
            </form>

            {% if post.posts_coments.all %}
            Comments: ({{ post.posts_coments.all.count }})
            {% for comment in post.posts_coments.all %}
            <br>
            <small class="text-muted">{{ comment.author.username }}: </small>{{ comment.text }}<br>
         {% endfor %}
         {% else %}
             <small class="text-muted">Be the first to comment.</small>
        {% endif %}
{% endblock %}