{% extends 'doodle/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {{ post.author }} <br>
    {{ post.text }} <br>
    {{ post.published_date|date:"F d, Y" }} 

    <br><br>
 <form action="" method="POST">
                {% csrf_token %}
                    <small class="text-muted">Add comment:</small>
                    <small class="text-muted">{{ add_comment|crispy }}</small>
                    <button class="btn btn-outline-info" type="submit">Add</button>
            </form>



{% endblock %}